.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}
.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
}
