@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(
      rgba(246, 247, 249, 0.8),
      rgba(246, 247, 249, 0.8)
    ),
    url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/sky-clouds-cloudy-mountain.jpg)
      no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.main {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 100px;
}

.section1 {
  /* background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center; */
  width: 360px;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: #43a047;
}
.text {
  font-style: oblique;
}
.btn {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #659aeb;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 20px;
  width: 30%;
  display: block;
  margin: 0 auto;
}
.btn:hover,
.btn:active,
.btn:focus {
  background: #43a047;
}
